*{
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(-45deg, #DD0890 0, indigo 100%);
    color: white;
    padding: 2vw;
    box-sizing: border-box;
    box-shadow: rgba(148, 4, 137, 0.5) 0px 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
header h1{
    font-family: soleto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
}
header h1 span{
    font-family: soleto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1em;
}
header #mapIcon{
    display: block;
    width: 48px;
    height: 48px;
}
header #mapIcon svg{
    transition: 0.3s cubic-bezier(.6,0,.6,1);
    width: 48px;
    height: 48px;
}
header #mapIcon:hover svg{
    transform: rotateY(180deg);
}
.searchContainer{
    margin-top: 15vh;
    position: absolute;
    left: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0%);
}
.searchBox{
    width: 60vw;
    border: 0.5vw solid #940489;
    border-radius: 1.5vw;
    padding: 1vw;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    color: #AB058B;
    outline: none;
}
.dropActive{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#searchAlts{
    overflow-y: scroll;
    max-height: 40vh;
    transition: 2s all ease-in-out;
    background: rgba(148, 4, 137,.6);
}
#overlap:not(.scrolled){
    opacity: 100%;
}
#overlap.scrolled{
    opacity: 0%;
} 

#searchAlts::-webkit-scrollbar{
    width: 0.5em;
}
#searchAlts::-webkit-scrollbar-track{
    background-color:  white;
}
#searchAlts::-webkit-scrollbar-thumb{
    background: rgba(148, 4, 137, 1);
    border-radius: 20px;
}
.searchAltsDiv{
    width: 100%;
    height: 6vh;
    box-sizing: border-box;
    line-height: calc(6vh + (-2px));
    transition: 0.2s;
    font-family: soleto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.3vh;
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.searchAltsDiv:hover{
    background: rgba(148, 4, 137, 1);
    color: white;
    cursor: pointer;
}
#overlap{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    transition: 300ms ease-in-out;
    background: linear-gradient( rgba(0, 0, 0, 0) 90%, rgba(255,255,255,1) 100%);
}
#searchAltsMainContainer{
    width: 100%;
    position: relative;
}