*{
    margin: 0;
    padding: 0;
}
    
header{
    background: linear-gradient(-45deg, #DD0890 0, indigo 100%);
    color: white;
    padding: 2vw;
    box-sizing: border-box;
    box-shadow: rgba(148, 4, 137, 0.5) 0px 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h1{
    font-family: soleto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
}
header h1 span{
    font-family: soleto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1em;
}
header #mapIcon{
    display: block;
    width: 48px;
    height: 48px;
}
header #mapIcon svg{
    transition: 0.5s;
}
header #mapIcon:hover svg{
    transform: rotateY(180deg);
}

.searchBox{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, 50%);
    border: 0.5vw solid #940489;
    border-radius: 1.5vw;
    padding: 1vw;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    color: #AB058B;
    outline: none;
}