*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(224, 215, 201);
}

header{
    background: linear-gradient(-45deg, #DD0890 0, indigo 100%);
    color: white;
    padding: 2vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
header h1{
    font-family: soleto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
}
header h1 span{
    font-family: soleto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1em;
}
header #mapIcon{
    display: block;
    width: 48px;
    height: 48px;
}
header #mapIcon svg{
    transition: 0.3s cubic-bezier(.6,0,.6,1);
    width: 48px;
    height: 48px;
}
header #mapIcon:hover svg{
    transform: rotateY(180deg);
}
.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 62vh;
}
.searchBox{
    width: 30vw;
    border-radius: 0.8vw;
    padding: 1.5vw;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: black;
    outline: none;
    border: none;
    margin-bottom: 1vw;
}
#searchAlts:not(.dropActive){
    display: none;
}
#searchAlts{
    overflow-y: scroll;
    max-height: 48vh;
    box-sizing: border-box;
    padding: 1.3vw 1vw 0;
    background: white;
    border-radius: 0.8vw;
}
#searchAlts::-webkit-scrollbar{
    width: 0.5em;
}
#searchAlts::-webkit-scrollbar-track{
    background-color: transparent;
}
#searchAlts::-webkit-scrollbar-thumb{
    background: rgba(148, 4, 137, 1);
    border-radius: 20px;
}
.searchAltsDiv{
    width: 100%;
    box-sizing: border-box;
    transition: 0.2s;
    font-family: soleto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    padding: 0.8vw 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    background: rgb(233, 228, 218);
    border-radius: .4vw;
    margin-bottom: 1vw;
}
.searchAltsDiv:hover{
    background: rgb(148, 4, 137);
    color: white;
    cursor: pointer;
    border: none;
}
#searchAltsMainContainer{
    width: 100%;
    position: relative;
}
.room{
    min-width: 5vw;
    margin-right: 1vw;
}
#contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 9vh 8vw;
}
.mapImg{
    max-width: 45vw;
    max-height: 60vh;
}